.ant-select-selector {
    background-color: #f8fafc !important;
    border: none !important;
}

.tem {
    :hover .icon {
        color: #ccc;
    }
}

.ant-input {
    background-color: #f8fafc !important;
}

.uploads {
    .ant-upload {
        width: 178px !important;
        height: 178px !important;
    }
}