.textnoWarp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 指定行数 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 1.1rem;
    /* 指定行数 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor {
    cursor: pointer;
}

.headImg {
    transition: all 0.2s ease-in-out;
}

.headImg:hover {
    transform: scale(1.1);
}

.active:hover {
    color: #673ab7;
}

.underline {
    text-decoration: underline !important;
}

.custom-card {
    position: relative;
}