.share {
    .ant-tabs-nav {
        margin-bottom: 0;
    }

    .ant-tabs-ink-bar {
        width: 0 !important;
    }

    .ant-tabs-nav::before {
        border: none;
    }

    .uls {
        li {
            width: 5px !important;

            button::before {
                display: none;
            }

            button {
                width: 5px !important;
                background: none !important;
            }

            button::after {
                width: 5px;
                height: 5px;
                background: #ff253d;
                border-radius: 5px;
            }
        }

    }
}