.ant-drawer-content-wrapper {
    transform: none !important;
}

.wrap-three-step .ant-modal-header {
    margin-bottom: 0 !important;
}
.jwy-topRisk {
    background-color: #f44336;
    color: white;
    margin: 0 4px;
    padding: 0 4px;
    border-radius: 2px;
}
.jwy-lowRisk {
    background-color: #faad14;
    color: white;
    margin: 0 4px;
    padding: 0 4px;
    border-radius: 2px;
}
