.threeDotLoader {
  width: 5.6em;
  display: flex;
  align-items: center;
  justify-content: center;

}
.threeDotLoader .threeDotLoader__dot {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: white;
  transform: scale(0);
  display: inline-block;
  animation: threedotloaderanim 1.6s infinite ease-in-out;
}
.threeDotLoader .threeDotLoader__dot:nth-child(1) {
  animation-delay: 0s;
}
.threeDotLoader .threeDotLoader__dot:nth-child(2) {
  animation-delay: 0.25s;
}
.threeDotLoader .threeDotLoader__dot:nth-child(3) {
  animation-delay: 0.5s;
}
.threeDotLoader .threeDotLoader__dot:nth-child(4) {
  animation-delay: 0.75s;
}

@keyframes threedotloaderanim {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  90% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}