.Rows {
    @media (min-width: 0px) {
        .xxxl-col {
            width: 100% !important
        }
    }

    @media (min-width: 640px) {
        .xxxl-col {
            width: 50% !important
        }
    }

    @media (min-width: 768px) {
        .xxxl-col {
            width: 33.33333334% !important
        }
    }

    @media (min-width: 1024px) {
        .xxxl-col {
            width: 20% !important
        }
    }

    @media (min-width: 1280px) {
        .xxxl-col {
            width: 16.66666667% !important
        }
    }

    // @media (min-width: 1536px) {
    //     .xxxl-col {
    //         width: 20% !important
    //     }
    // }

    @media (min-width: 1830px) {
        .xxxl-col {
            width: 14.28571429% !important
        }
    }

    // @media (min-width: 2100px) {
    //     .xxxl-col {
    //         width: 14.28571429% !important
    //     }
    // }

    @media (min-width: 2362px) {
        .xxxl-col {
            width: 12.5% !important
        }
    }

    .ant-tabs-content {
        height: 100%;
    }

    .ant-tabs-tabpane {
        height: 100%;
    }

}