         
.btn-grad {
  background-image: linear-gradient(to right, #cba2ff 0%, #758cf1  100%, #cba2ff  100%);
  padding: 6px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
  border: none;
  margin-right: 8px;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
         