.css-1dye14s-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.07rem !important;
}

.css-dkxbyn-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.07rem !important;
}

.css-17x401f-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.07rem !important;
}

.MuiInputBase-multiline {
    padding-top: 14px !important;
}

.css-1my21cv-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 14px !important;
    padding-top: 0 !important;
}

.css-1irr20b {
    padding: 14px !important;
    padding-top: 0 !important;
}