.css-1dye14s-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.07rem !important;
}

.css-dkxbyn-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.07rem !important;
}

.css-17x401f-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 1.07rem !important;
}

.MuiInputBase-multiline {
    padding-top: 10px !important;
}