.prb_container {
  width: calc(100vw - 390px);
  display: flex; 
  align-items: center; 
  justify-content: center;

  .prb_container_wrapper {
    width: 620px;
   display: flex; 
   flex-wrap: wrap;
   align-items: center; 
   justify-content: center; 
  }
}
.prb_custom_modal {
  .ant-modal-content {
    padding: 0 !important;
  } 
}